<ion-content>
  <div class="login-bg" align="center">
    <div>
      <img class="logo-img" src="../../../assets/imgs/logo.svg" />
    </div>
    <div>
      <img class="login-text-img" src="../../../assets/imgs/login_text.svg" />
    </div>
    <br />

    <ion-button id="login-button" (click)="login()">Sign In</ion-button>
    <p id="login-register-text">Don’t Have an Account? <strong>Register Now Please</strong> </p>
    <p>{{callbackUri}}</p>
    <p>{{isLoggedIn}}</p>
    
  </div>
</ion-content>