ion-toolbar{
    text-align: center;
}

.saved-header-container{
    display: flex;
    align-items: center;
}

.saved-header-container ion-label{
    font-size: 1.5rem;
}

.text-gray-color{
    --color: #51585A;
    font-size: 0.8rem;
    font-family: AppFont;
    font-weight: 400;
}
.location-name{
    font-size: 14px;
}
.near-text{
    font-size: 8px;
    padding: 4px;
    border-radius: 8px;
    background-color: #E2EED2;
    margin-left: 2vw;
    margin-right: 1vw;
    visibility: hidden;
}

.distance-text{
    font-size: 8px;
    margin-right: 2vw;
}
.one-line-span{
    display: contents;
}

.info-item{
    margin-left: 1vw;
}
.site-num-label{
    margin-left: 6vw;
    font-size: 10px;
    color: #51585A;
    width: 100%;
}

.address-text{
    color: #707070;
    font-size: 9px;
    margin-left: 6vw;
    align-items: center;
    display: flex;
}
.address-text img{
    height: 12px;
    padding-right: 1vw;
}

.action-btn-div{
    text-align: center;
    font-size: 8px;
    margin-left: 2vw;
}
